<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Kommentoi{% endblock %}
{% block content %}
<h2>Kommentoi treeniä</h2>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<hr>
{% for workouts in workout %}
Käyttäjä: {{ workouts[0] }} | Päiväys: {{ workouts[1] }}
<p>
Harjoitus: {{ workouts[2] }} | Kesto: {{ workouts[3] }}
<p>
Kuvaus: {{ workouts[4] }}
<p>
{% if session.user_id == workouts[6] %}
<form action="/delete" method="POST">
<input type="hidden" name="workout_id" value="{{ workouts[5] }}">
<input type="submit" value="Poista">
</form>
{% endif %}
<hr>
<form action="/add_comment" method="POST">
<label for="comment">Kommentoi:</label><br>
<textarea name="comment" rows="3" cols="40"></textarea><br>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="workout_id" value="{{ workouts[5] }}">
<input type="submit" value="Lähetä">
</form>
{% endfor %}
{% for comment in results %}
Käyttäjä: {{ comment[0] }} | Päiväys: {{ comment[1] }}
<p>
{{ comment[2] }}
<hr>
{% endfor %}
{% else %}
<p>Kirjaudu sisään käyttääksesi sovellusta</p>
{% endif %}
{% endblock %}