<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Treenisovellus - {% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Treenisovellus</h1>
    {% if session.user_id %}
    <nav>
        <ul>
            <li><a href="/">Etusivu</a></li>
            <li><a href="/new">Lisää treeni</a></li>
            <li><a href="/search">Hae treenejä</a></li>
            <li><a href="/profile">Oma profiili</a></li>
            <li><a href="/logout">Kirjaudu ulos</a></li>
        </ul>
    </nav>
    {% else %}
    <nav>
        <ul>
            <li><a href="/login">Kirjaudu sisään</a></li>
        </ul>
    </nav>
    {% endif %}
    <hr>
    {% block content %}{% endblock %}
</body>

