{% extends "layout.html" %}
{% block title %}Oma profiili{% endblock %}
{% block content %}
<h2>Oma profiili<h2>
<hr>
<h3>Omat treenit</h3>
{% for workout in results %}
Käyttäjä: {{ workout[0] }} | Päiväys: {{ workout[1] }}
<p>
Harjoitus: {{ workout[2] }} | Kesto: {{ workout[3] }}
<p>
Kuvaus: {{ workout[4] }}
<p>
<input type="hidden" name="workout_id" value="workout[5]">
<a href="/show">Näytä kommentit</a>
<a href="/comment">Lisää kommentti</a>
<a href="/delete">Poista</a>
<hr>
{% endfor %}
{% endblock %}
