<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Oma profiili{% endblock %}
{% block content %}
<h2>Oma profiili<h2>
<hr>
<h3>Omat treenit</h3>
{% for workout in results %}
Käyttäjä: {{ workout[0] }} | Päiväys: {{ workout[1] }}
<p>
Harjoitus: {{ workout[2] }} | Kesto: {{ workout[3] }}
<p>
Kuvaus: {{ workout[4] }}
<p>
<form action="/comment" method="POST">
<input type="hidden" name="workout_id" value=workout[5]>
<input type="submit" value="Näytä kommentit">
</form>
<form action="/show" method="GET">
<input type="hidden" name="workout_id" value=workout[5]>
<input type="submit" value="Lisää kommentti">
</form>
<form action="/delete" method="POST">
<input type="hidden" name="workout_id" value=workout[5]>
<input type="submit" value="Poista">
</form>
<hr>
{% endfor %}
{% endblock %}
