<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Oma profiili{% endblock %}
{% block content %}
<h2>Omat treenit</h2>
<hr>
{% for workout in results %}
    Käyttäjä: {{ workout[0] }}  |  Päiväys: {{ workout[1].strftime("%Y-%m-%d %H:%M:%S") }}
    <p>
    Harjoitus: {{ workout[2] }}  |  Kesto: {{ workout[3] }} minuuttia
    <p>
    Kuvaus: {{ workout[4] }}
    <p>
    <div class="comments">
    <form action="/add_comment" method="POST">
        <label for="comment">Kommentoi:</label><br>
        <textarea name="comment" rows="3" cols="40"></textarea><br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="workout_id" value="{{ workout[5] }}">
        <input id="buttons" type="submit" value="Lähetä">
    </form>
    <form action="/show_comments" method="POST">
        <input type="hidden" name="workout_id" value="{{ workout[5] }}">
        <input id="buttons" type="submit" value="Näytä kommentit">
    </form>
    {% if session.user_id == workout[6] %}
        <form action="/delete" method="POST">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="workout_id" value="{{ workout[5] }}">
            <input id="buttons" type="submit" value="Poista treeni">
        </form>
    {% endif %}
    </div>
    <hr>
{% endfor %}
{% endblock %}
